* {
    margin: 0;
}
.login-btn, .sign-btn {
    background-color: #4b5320;
    color: whitesmoke;
    width: 120px;
    margin: 16px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

body {
    background-color:#9e9a75 
}

